---
import Layout from '../layouts/Layout.astro'
import SectionContainer from '../components/SectionContainer.astro'
---

<!-- TODO: Add blog layout featuring latest posts sorted. Add posts. Style Markdown. -->
<Layout
  title='ZephyroCode - Page not Found'
  description='Ok, sems like something is wrong here...'
>
  <main>
    <SectionContainer
      className='flex justify-center items-center flex-col my-12'
    >
      <h1
        class='text-white text-xl md:text-2xl lg:text-3xl font-semibold text-center mb-1'
      >
        Ok, this is kinda awkward...
      </h1>
      <h2
        class='text-red-400/90 text-xl md:text-2xl lg:text-3xl font-semibold mb-1 text-center'
      >
        There's nothing here!
      </h2>
      <h3
        class='text-white text-xl md:text-2xl lg:text-3xl font-semibold mb-6 text-center'
      >
        So... yeah, let's go back to the Home Page, shall we?
      </h3>
      <a
        href='/'
        class='text-sky-500 text-lg border border-sky-400 rounded-lg bg-white/5 hover:bg-white/10 transition-colors flex justify-center items-center px-2 py-1'
        >Take me home!</a
      >
    </SectionContainer>
  </main>
</Layout>
