---
import Layout from '../layouts/Layout.astro'
import SectionContainer from '../components/SectionContainer.astro'
import HTMLIcon from '../components/icons/HTML.astro'
import CSSIcon from '../components/icons/CSS.astro'
import JavaScriptIcon from '../components/icons/JavaScript.astro'
import GitIcon from '../components/icons/Git.astro'
import ReactIcon from '../components/icons/React.astro'
import SASSIcon from '../components/icons/SASS.astro'
import TailwindIcon from '../components/icons/Tailwind.astro'
import JSONIcon from '../components/icons/JSON.astro'
import NodeJSIcon from '../components/icons/NodeJS.astro'
import NPMIcon from '../components/icons/NPM.astro'
import SQLIcon from '../components/icons/SQL.astro'
import NetlifyIcon from '../components/icons/Netlify.astro'
import AstroIcon from '../components/icons/AstroIcon.astro'
---

<Layout
  title='ZephyroCode - About me'
  description='Here you have some information about me, a little introduction, basically.'
>
  <main class='px-4'>
    <SectionContainer
      className='flex justify-center items-center flex-col mt-12'
    >
      <img
        src='/profile.webp'
        alt='Wilver Salazar Picture'
        class='rounded-full size-24 md:size-28 mb-1'
      />
      <h1 class='text-white text-xl md:text-2xl lg:text-3xl font-semibold mb-1'>
        Wilver <em class='text-red-200/90'>"ZephyroCode"</em> Salazar
      </h1>
      <h2
        class='text-sky-200/70 text-lg md:text-xl lg:text-2xl font-semibold mb-6'
      >
        Frontend Web Developer
      </h2>
      <h3 class='text-white text-lg md:text-xl font-semibold mb-2'>Skills</h3>
      <ul
        class='text-sky-200/80 flex justify-center items-center gap-3 flex-wrap mb-8'
      >
        <li class='flex flex-col justify-center items-center gap-y-1 text-xs'>
          <HTMLIcon class='size-10' />
          <span>HTML</span>
        </li>
        <li class='flex flex-col justify-center items-center gap-y-1 text-xs'>
          <CSSIcon class='size-10' />
          <span>CSS</span>
        </li>
        <li class='flex flex-col justify-center items-center gap-y-1 text-xs'>
          <JavaScriptIcon class='size-10' />
          <span>JavaScript</span>
        </li>
        <li class='flex flex-col justify-center items-center gap-y-1 text-xs'>
          <GitIcon class='size-10' />
          <span>Git</span>
        </li>
        <li class='flex flex-col justify-center items-center gap-y-1 text-xs'>
          <AstroIcon class='size-10' />
          <span>Astro</span>
        </li>
        <li class='flex flex-col justify-center items-center gap-y-1 text-xs'>
          <ReactIcon class='size-10' />
          <span>React</span>
        </li>
        <li class='flex flex-col justify-center items-center gap-y-1 text-xs'>
          <SASSIcon class='size-10' />
          <span>SASS</span>
        </li>
        <li class='flex flex-col justify-center items-center gap-y-1 text-xs'>
          <TailwindIcon class='size-10' />
          <span>Tailwind</span>
        </li>
        <li class='flex flex-col justify-center items-center gap-y-1 text-xs'>
          <JSONIcon class='size-10' />
          <span>JSON</span>
        </li>
        <li class='flex flex-col justify-center items-center gap-y-1 text-xs'>
          <NodeJSIcon class='size-10' />
          <span>Node.js</span>
        </li>
        <li class='flex flex-col justify-center items-center gap-y-1 text-xs'>
          <NPMIcon class='size-10' />
          <span>NPM</span>
        </li>
        <li class='flex flex-col justify-center items-center gap-y-1 text-xs'>
          <SQLIcon class='size-10' />
          <span>SQL</span>
        </li>
        <li class='flex flex-col justify-center items-center gap-y-1 text-xs'>
          <NetlifyIcon class='size-10' />
          <span>Netlify</span>
        </li>
      </ul>
      <article class='mb-12'>
        <h3 class='text-white text-lg md:text-xl font-semibold mb-2'>
          Ok, this is my story...
        </h3>
        <div>
          <p class='text-white text-base mb-1 text-pretty'>
            I'm from <strong class='font-semibold text-sky-200'
              >Venezuela</strong
            >, so as you may have guessed, my native language is spanish. I
            started studying Web Development in August 2021 by learning <strong
              class='font-semibold text-sky-200'>HTML</strong
            >, <strong class='font-semibold text-sky-200'>CSS</strong> and some basic
            <strong class='font-semibold text-sky-200'>JavaScript</strong>.
          </p>
          <p class='text-white text-base mb-1 text-pretty'>
            My interest in programming started when I was playing NosTale with
            my friends. Back then, we were a bit tired of the official servers,
            and so we decided to start playing some private servers. Those
            servers had a lot of bugs and were missing a lot of features.
          </p>
          <p class='text-white text-base mb-1 text-pretty'>
            After some quits, changes and random talks, we found a private server called <em>NosForce</em>. There, the developer was alone, and he was really friendly. While my friends quitted the server <em>and some others quitted the game itself</em>, I stayed in that server for some time. Chatting with that developer made me feel a bit interested in the development stuff, but I didn't start learning.
          </p>
          <p class='text-white text-base mb-1 text-pretty'>
            After some months, the server changed way too much which caused me to stop liking it, so I quitted there, and one friend invited me to another server called <em>EastMile</em>. The developer there was alone too, but he was way better than the other developers, and his server was the perfect proof.
          </p>
          <p class='text-white text-base mb-1 text-pretty'>
            That made me feel way too tempted to learn Game Development, but something inside me was telling me that it was not the time. However, one hobbie I found back then was playing <strong class='font-semibold text-sky-200'>Warcraft 3</strong> custom maps, and I was involved in editing them. I was basically programming without actually realizing I was haha
          </p>
          <p class='text-white text-base mb-1 text-pretty'>
            Some time later I was talking with a friend that works as game dev, and for some reason the custom maps thing came out. He was the one who told me I was actually programming, and that was what really made me decide start studying.
          </p>
          <p  class='text-white text-base mb-1 text-pretty'>
            At the beginning I was thinking about going for game dev, but I kinda wanted to go with something a bit different, so I started doing a small research, in which I found Web Development. That's when I decided to become a Web Dev.
          </p>
          <p class='text-white text-base mb-1 text-pretty'>
            During my first week studying, I <em>somehow</em> managed to create my
            first page, which was called <a
              class='text-sky-200 hover:text-sky-100 transition-colors'
              href='http://zephyrocode.github.io/skydead-news'
              target='_blank'
              rel='noopener noreferrer'>SkyDead News</a
            >. I can't say it was the best thing I could have done back then,
            but I'm not gonna lie... I was satisfied!
          </p>
          <p class='text-white text-base mb-1 text-pretty'>
            Nowadays, I know the technologies you can see up there, and as
            everyone, I'm still learning a lot every day. I also enjoy a lot
            sharing my knowledge when I have the chance!
          </p>
          <p class='text-white text-base mb-1 text-pretty'>
            I love studying in general <em
              >when it's something I like, of course</em
            >... and I always want to learn more and improve my skill regardless
            of those times when my laptop wants to die, or not having internet
            in my house since 2019. I do what I can with the resources I have,
            and I have no intention of giving up.
          </p>
          <p class='text-white text-base mb-1 text-pretty'>
            I'm looking forward to know a lot more about <strong
              class='font-semibold text-sky-200'>JavaScript</strong
            >, <strong class='font-semibold text-sky-200'>React</strong>, <strong
              class='font-semibold text-sky-200'>Astro</strong
            >, <strong class='font-semibold text-sky-200'>Tailwind</strong>, and
            I'm also planning to learn a lot more about <strong
              class='font-semibold text-sky-200'>Node.js</strong
            >
            and backend in general so I can become a <strong
              class='font-semibold text-sky-200'>Fullstack Web Developer</strong
            >.
          </p>
          <p class='text-white text-base mb-1 text-pretty'>
            I'm also trying to save money to get a new PC since my laptop wants
            to die <em>and/or</em> explode way too often and stops working for a
            few days... Well, I can't blame it since it's just an <span
              class='border rounded border-sky-400 px-1 py-0.5 text-xs text-sky-200 bg-white/15'
              >Intel Celeron 1.10GHz</span
            > with <span
              class='border rounded border-sky-400 px-1 py-0.5 text-xs text-sky-200 bg-white/15'
              >2GB RAM</span
            > and honestly, It's kinda funny that it's still working after 10 years
            haha
          </p>
          <p class='text-white text-base mb-1 text-pretty'>
            My plan is to get the new PC so I can study way more comfortable
            than I am now since I have to optimize my laptop's performance and
            so I'm missing some tools I could be using.
          </p>
          <p class='text-white text-base mb-1 text-pretty'>
            I love music, mostly piano and guitar music, and I'm also learning
            how to play the guitar. I also like a lot writing and reading and I
            even tried some times to write my own stories. I absolutely love
            videogames. I enjoy dancing a lot, but I only know how to dance
            Shuffle. I really love medicine so I'm looking forward to study to
            be a paramedic too. I also have a huge fascination for psychology...
            A lot of stuff, I know, but that's how it is... I like learning new
            things!
          </p>
          <p class='text-white text-base mb-1 text-pretty'>
            As a side note, this was originally the first post of my older blog,
            which I decided to migrate to this web. Basically taking the
            oportunity to have my portfolio and blog together, and also adding
            some new content to this introduction hehe...
          </p>
        </div>
      </article>
    </SectionContainer>
  </main>
</Layout>
