---
import Layout from '../layouts/Layout.astro'
import SectionContainer from '../components/SectionContainer.astro'
---

<!-- TODO: Add contact info and contact form -->
<Layout
  title='ZephyroCode - Contact'
  description='Here you have the information you need to get in touch with me!'
>
  <main>
    <SectionContainer
      className='flex justify-center items-center flex-col my-12'
    >
      <h1 class='text-white text-xl md:text-2xl lg:text-3xl font-semibold mb-1'>
        This is still a <strong class='text-red-400/90'>Work In Progress</strong
        > guys!
      </h1>
    </SectionContainer>
  </main>
</Layout>
