---
import Layout from '../layouts/Layout.astro'
import Badge from '../components/Badge.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import MailHeartIcon from '../components/icons/MailHeart.astro'
import Social from '../components/Social.astro'
import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro'
import BriefcaseIcon from '../components/icons/Briefcase.astro'
import CoffeeIcon from '../components/icons/Coffee.astro'
import CodeIcon from '../components/icons/Code.astro'
import Projects from '../components/Projects.astro'
import PostCard from '../components/PostCard.astro'

import { formatBlogPosts } from '../js/utils'

const POSTS = await Astro.glob('./blog/posts/*.md')
const formattedPosts = formatBlogPosts(POSTS, {
  limit: 3,
})
---

<Layout
  title='ZephyroCode - Frontend Web Developer'
  description='Hire Wilver to work on your website. Frontend Web Developer.'
>
  <main class='px-4 mt-28'>
    <SectionContainer className='mb-28'>
      <img
        src='/profile.webp'
        alt='Wilver Salazar Picture'
        class='rounded-full size-12 mb-1'
      />
      <h1
        class='text-white text-xl md:text-3xl lg:text-4xl font-bold flex flex-row gap-x-4 pb-2 lg:pb-4'
      >
        Hey! I'm Wilver <a
          href='https://linkedin.com/in/wilver-salazar'
          rel='noopener noreferrer'
          target='_blank'
          class='flex justify-center items-center'
        >
          <Badge>Available for job</Badge>
        </a>
      </h1>
      <h2
        class='text-l md:text-xl text-white opacity-85 mb-4 text-wrap max-w-[500px]'
      >
        <span class='text-sky-200'>Frontend Web Developer</span> going through second
        year at the university. <span class='text-red-200/90'
          >Based in Venezuela.
        </span>
      </h2>
      <nav class='flex gap-x-2 flex-wrap gap-2'>
        <Social href='https://linkedin.com/in/wilver-salazar'>
          <LinkedInIcon class='size-3 md:size-5' />
          LinkedIn
        </Social>
        <Social href='https://github.com/ZephyroCode'>
          <GitHubIcon class='size-3 md:size-5' />
          GitHub
        </Social>
        <Social href='mailto:wilversmithsl@gmail.com'>
          <MailHeartIcon class='size-4 md:size-6' />
          wilversmithsl@gmail.com
        </Social>
        <Social href='https://www.buymeacoffee.com/zephyrocode'>
          <CoffeeIcon class='size-3 md:size-6' />
          BuyMeACoffee
        </Social>
      </nav>
    </SectionContainer>
    <SectionContainer id='experience' className='mb-28'>
      <h2
        class='text-2xl font-semibold mb-6 text-white flex gap-x-2 items-center'
      >
        <BriefcaseIcon class='size-7' />
        Experience
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id='projects' className='mb-8 md:mb-16'>
      <h2
        class='text-2xl font-semibold mb-6 text-white flex gap-x-2 items-center'
      >
        <CodeIcon class='size-7' />
        Projects
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer className='mb-8 md:mb-16'>
      <h2
        class='text-2xl font-semibold mb-6 text-white flex gap-x-2 items-center'
      >
        <CodeIcon class='size-7' />
        About Me
      </h2>
      <div class='flex gap-4 flex-col md:flex-row justify-center items-center'>
        <div class='flex gap-4 flex-col order-2 md:order-1'>
          <p class='text-pretty text-white text-base'>
            I'm Wilver Salazar, also known as Zephyr. I first coded 4 years ago
            helping with <em class='text-red-300'>Warcraft 3 Custom Maps</em>.
            Nowadays, <strong class='text-red-300 font-semibold'>
              I'm helping my classmates at the university by tutoring them
            </strong> when they need it.
          </p>
          <p class='text-pretty text-white text-base'>
            One success I like is that, during my university career, I've been
            able to help my classmates learn more about development. I also
            enjoy a lot making an UI that everyone can feel comfortable with.
          </p>
          <p class='text-pretty text-white text-base'>
            I'm looking forward to be able to actually teach web development and
            programming in general so even more people can get into this funny
            little world of ours.
          </p>
          <p class='text-pretty text-white text-base'>
            Wanna know more? Check out my <a
              class='text-sky-400 hover:text-sky-300 transition-colors'
              href='/about'>About Me</a
            > page!
          </p>
        </div>
        <img
          class='order-1 md:order-2 size-48'
          src='/zephyrocode-logo.png'
          alt='ZephyroCode Logo'
        />
      </div>
    </SectionContainer>
    <SectionContainer className='mb-8 md:mb-16'>
      <h2
        class='text-2xl font-semibold mb-6 text-white flex gap-x-2 items-center'
      >
        <CodeIcon class='size-7' />
        Latest Posts
      </h2>
      <div class='flex gap-2 flex-wrap'>
        {
          formattedPosts.map((post) => (
            <PostCard frontmatter={post.frontmatter} url={post.url} />
          ))
        }
      </div>
    </SectionContainer>
  </main>
</Layout>

<style></style>
