---
import HeaderLink from './HeaderLink.astro'
---

<header
  class='bg-slate-800 opacity-80 sticky top-3 w-fit mx-auto rounded-2xl px-3 py-1 mt-3 mb-28'
>
  <nav class='flex flex-row justify-center gap-x-4'>
    <HeaderLink href='/'>Home</HeaderLink>
    <HeaderLink href='/blog'>Blog</HeaderLink>
    <HeaderLink href='/#experience'>Experience</HeaderLink>
    <HeaderLink href='/#projects'>Projects</HeaderLink>
  </nav>
</header>
